.idea/.gitignore
.idea/modules.xml
.idea/SUCP.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
SUCP/slurm-129638_1.out
SUCP/slurm-129638_10.out
SUCP/slurm-129638_11.out
SUCP/slurm-129638_12.out
SUCP/slurm-129638_13.out
SUCP/slurm-129638_14.out
SUCP/slurm-129638_15.out
SUCP/slurm-129638_16.out
SUCP/slurm-129638_17.out
SUCP/slurm-129638_18.out
SUCP/slurm-129638_19.out
SUCP/slurm-129638_2.out
SUCP/slurm-129638_20.out
SUCP/slurm-129638_21.out
SUCP/slurm-129638_22.out
SUCP/slurm-129638_3.out
SUCP/slurm-129638_4.out
SUCP/slurm-129638_5.out
SUCP/slurm-129638_6.out
SUCP/slurm-129638_7.out
SUCP/slurm-129638_8.out
SUCP/slurm-129638_9.out
SUCP/SUCP_overlap.zip
SUCP/.idea/.gitignore
SUCP/.idea/modules.xml
SUCP/.idea/SUCP.iml
SUCP/.idea/vcs.xml
SUCP/.idea/inspectionProfiles/profiles_settings.xml
SUCP/.idea/inspectionProfiles/Project_Default.xml
SUCP/lib/__init__.pyc
SUCP/lib/FriendBasedCF.pyc
SUCP/lib/LocationFriendshipBookmarkColoringAlgorithm.pyc
SUCP/lib/metrics.pyc
SUCP/lib/MultiGaussianModel.pyc
SUCP/lib/PoissonFactorModel.pyc
SUCP/lib/TimeAwareMF.pyc
SUCP/lib/__pycache__/__init__.cpython-37.pyc
SUCP/lib/__pycache__/FriendBasedCF.cpython-37.pyc
SUCP/lib/__pycache__/LocationFriendshipBookmarkColoringAlgorithm.cpython-37.pyc
SUCP/lib/__pycache__/metrics.cpython-37.pyc
SUCP/lib/__pycache__/MultiGaussianModel.cpython-37.pyc
SUCP/lib/__pycache__/PoissonFactorModel.cpython-37.pyc
SUCP/lib/__pycache__/TimeAwareMF.cpython-37.pyc
SUCP/result_gowalla_0.6_0/execution_time.txt
SUCP/result_gowalla_0.6_0/reclist_top_100.txt
SUCP/result_gowalla_0.6_0/result_top_10.txt
SUCP/result_gowalla_0.6_0/result_top_15.txt
SUCP/result_gowalla_0.6_0/result_top_20.txt
SUCP/result_gowalla_0.6_0/result_top_5.txt
SUCP/result_gowalla_0.6_10/execution_time.txt
SUCP/result_gowalla_0.6_10/reclist_top_100.txt
SUCP/result_gowalla_0.6_10/result_top_10.txt
SUCP/result_gowalla_0.6_10/result_top_15.txt
SUCP/result_gowalla_0.6_10/result_top_20.txt
SUCP/result_gowalla_0.6_10/result_top_5.txt
SUCP/result_gowalla_0.6_100/execution_time.txt
SUCP/result_gowalla_0.6_100/reclist_top_100.txt
SUCP/result_gowalla_0.6_100/result_top_10.txt
SUCP/result_gowalla_0.6_100/result_top_15.txt
SUCP/result_gowalla_0.6_100/result_top_20.txt
SUCP/result_gowalla_0.6_100/result_top_5.txt
SUCP/result_gowalla_0.6_20/execution_time.txt
SUCP/result_gowalla_0.6_20/reclist_top_100.txt
SUCP/result_gowalla_0.6_20/result_top_10.txt
SUCP/result_gowalla_0.6_20/result_top_15.txt
SUCP/result_gowalla_0.6_20/result_top_20.txt
SUCP/result_gowalla_0.6_20/result_top_5.txt
SUCP/result_gowalla_0.6_30/execution_time.txt
SUCP/result_gowalla_0.6_30/reclist_top_100.txt
SUCP/result_gowalla_0.6_30/result_top_10.txt
SUCP/result_gowalla_0.6_30/result_top_15.txt
SUCP/result_gowalla_0.6_30/result_top_20.txt
SUCP/result_gowalla_0.6_30/result_top_5.txt
SUCP/result_gowalla_0.6_40/execution_time.txt
SUCP/result_gowalla_0.6_40/reclist_top_100.txt
SUCP/result_gowalla_0.6_40/result_top_10.txt
SUCP/result_gowalla_0.6_40/result_top_15.txt
SUCP/result_gowalla_0.6_40/result_top_20.txt
SUCP/result_gowalla_0.6_40/result_top_5.txt
SUCP/result_gowalla_0.6_50/execution_time.txt
SUCP/result_gowalla_0.6_50/reclist_top_100.txt
SUCP/result_gowalla_0.6_50/result_top_10.txt
SUCP/result_gowalla_0.6_50/result_top_15.txt
SUCP/result_gowalla_0.6_50/result_top_20.txt
SUCP/result_gowalla_0.6_50/result_top_5.txt
SUCP/result_gowalla_0.6_60/execution_time.txt
SUCP/result_gowalla_0.6_60/reclist_top_100.txt
SUCP/result_gowalla_0.6_60/result_top_10.txt
SUCP/result_gowalla_0.6_60/result_top_15.txt
SUCP/result_gowalla_0.6_60/result_top_20.txt
SUCP/result_gowalla_0.6_60/result_top_5.txt
SUCP/result_gowalla_0.6_70/execution_time.txt
SUCP/result_gowalla_0.6_70/reclist_top_100.txt
SUCP/result_gowalla_0.6_70/result_top_10.txt
SUCP/result_gowalla_0.6_70/result_top_15.txt
SUCP/result_gowalla_0.6_70/result_top_20.txt
SUCP/result_gowalla_0.6_70/result_top_5.txt
SUCP/result_gowalla_0.6_80/execution_time.txt
SUCP/result_gowalla_0.6_80/reclist_top_100.txt
SUCP/result_gowalla_0.6_80/result_top_10.txt
SUCP/result_gowalla_0.6_80/result_top_15.txt
SUCP/result_gowalla_0.6_80/result_top_20.txt
SUCP/result_gowalla_0.6_80/result_top_5.txt
SUCP/result_gowalla_0.6_90/execution_time.txt
SUCP/result_gowalla_0.6_90/reclist_top_100.txt
SUCP/result_gowalla_0.6_90/result_top_10.txt
SUCP/result_gowalla_0.6_90/result_top_15.txt
SUCP/result_gowalla_0.6_90/result_top_20.txt
SUCP/result_gowalla_0.6_90/result_top_5.txt
SUCP/result_yelp_0.9_0/execution_time.txt
SUCP/result_yelp_0.9_0/reclist_top_100.txt
SUCP/result_yelp_0.9_0/result_top_10.txt
SUCP/result_yelp_0.9_0/result_top_15.txt
SUCP/result_yelp_0.9_0/result_top_20.txt
SUCP/result_yelp_0.9_0/result_top_5.txt
SUCP/result_yelp_0.9_10/execution_time.txt
SUCP/result_yelp_0.9_10/reclist_top_100.txt
SUCP/result_yelp_0.9_10/result_top_10.txt
SUCP/result_yelp_0.9_10/result_top_15.txt
SUCP/result_yelp_0.9_10/result_top_20.txt
SUCP/result_yelp_0.9_10/result_top_5.txt
SUCP/result_yelp_0.9_100/execution_time.txt
SUCP/result_yelp_0.9_100/reclist_top_100.txt
SUCP/result_yelp_0.9_100/result_top_10.txt
SUCP/result_yelp_0.9_100/result_top_15.txt
SUCP/result_yelp_0.9_100/result_top_20.txt
SUCP/result_yelp_0.9_100/result_top_5.txt
SUCP/result_yelp_0.9_20/execution_time.txt
SUCP/result_yelp_0.9_20/reclist_top_100.txt
SUCP/result_yelp_0.9_20/result_top_10.txt
SUCP/result_yelp_0.9_20/result_top_15.txt
SUCP/result_yelp_0.9_20/result_top_20.txt
SUCP/result_yelp_0.9_20/result_top_5.txt
SUCP/result_yelp_0.9_30/execution_time.txt
SUCP/result_yelp_0.9_30/reclist_top_100.txt
SUCP/result_yelp_0.9_30/result_top_10.txt
SUCP/result_yelp_0.9_30/result_top_15.txt
SUCP/result_yelp_0.9_30/result_top_20.txt
SUCP/result_yelp_0.9_30/result_top_5.txt
SUCP/result_yelp_0.9_40/execution_time.txt
SUCP/result_yelp_0.9_40/reclist_top_100.txt
SUCP/result_yelp_0.9_40/result_top_10.txt
SUCP/result_yelp_0.9_40/result_top_15.txt
SUCP/result_yelp_0.9_40/result_top_20.txt
SUCP/result_yelp_0.9_40/result_top_5.txt
SUCP/result_yelp_0.9_50/execution_time.txt
SUCP/result_yelp_0.9_50/reclist_top_100.txt
SUCP/result_yelp_0.9_50/result_top_10.txt
SUCP/result_yelp_0.9_50/result_top_15.txt
SUCP/result_yelp_0.9_50/result_top_20.txt
SUCP/result_yelp_0.9_50/result_top_5.txt
SUCP/result_yelp_0.9_60/execution_time.txt
SUCP/result_yelp_0.9_60/reclist_top_100.txt
SUCP/result_yelp_0.9_60/result_top_10.txt
SUCP/result_yelp_0.9_60/result_top_15.txt
SUCP/result_yelp_0.9_60/result_top_20.txt
SUCP/result_yelp_0.9_60/result_top_5.txt
SUCP/result_yelp_0.9_70/execution_time.txt
SUCP/result_yelp_0.9_70/reclist_top_100.txt
SUCP/result_yelp_0.9_70/result_top_10.txt
SUCP/result_yelp_0.9_70/result_top_15.txt
SUCP/result_yelp_0.9_70/result_top_20.txt
SUCP/result_yelp_0.9_70/result_top_5.txt
SUCP/result_yelp_0.9_80/execution_time.txt
SUCP/result_yelp_0.9_80/reclist_top_100.txt
SUCP/result_yelp_0.9_80/result_top_10.txt
SUCP/result_yelp_0.9_80/result_top_15.txt
SUCP/result_yelp_0.9_80/result_top_20.txt
SUCP/result_yelp_0.9_80/result_top_5.txt
SUCP/result_yelp_0.9_90/execution_time.txt
SUCP/result_yelp_0.9_90/reclist_top_100.txt
SUCP/result_yelp_0.9_90/result_top_10.txt
SUCP/result_yelp_0.9_90/result_top_15.txt
SUCP/result_yelp_0.9_90/result_top_20.txt
SUCP/result_yelp_0.9_90/result_top_5.txt
